# Create Regression Features from Weather Data

In [1]:
import pandas as pd
import datetime as dt

In [2]:
weather = pd.read_csv("weather.csv.zip")

/Users/ericellestad/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...
5802632,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN
5802633,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
5802634,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
5802635,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN
5802636,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN

In [4]:
weather['date'] = pd.to_datetime(weather['date'])
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...
5802632,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN
5802633,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
5802634,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
5802635,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN
5802636,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN

In [5]:
weather['year'] = weather['date'].dt.year
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation,year
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
...,...,...,...,...,...,...,...,...,...
5802632,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN,2021
5802633,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN,2021
5802634,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN,2021
5802635,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN,2021
5802636,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN,2021

In [6]:
weather.drop(['measurement_flag', 'quality_flag', 'source_flag', 'time_of_observation'], axis=1, inplace=True)
weather

          station_id       date element  value  year
0        US1ALJF0037 2013-05-01    PRCP      0  2013
1        US1ALJF0037 2013-05-01    PRCP      0  2013
2        US1ALJF0037 2013-05-01    PRCP      0  2013
3        US1ALJF0037 2013-05-01    PRCP      0  2013
4        US1ALJF0037 2013-05-01    PRCP      0  2013
...              ...        ...     ...    ...   ...
5802632  US1WAKG0204 2021-09-28    PRCP     71  2021
5802633  US1WAKG0204 2021-09-29    PRCP      0  2021
5802634  US1WAKG0204 2021-09-29    PRCP      0  2021
5802635  US1WAKG0204 2021-09-30    PRCP     43  2021
5802636  US1WAKG0204 2021-09-30    PRCP     43  2021

[5802637 rows x 5 columns]

In [7]:
rainfall = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).sum().reset_index()
rainfall['avg'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['mean'],}).values
rainfall['stdev'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['std'],}).values
rainfall.columns = ['station_id','year','element','rain_total','rain_daily_avg','rain_daily_stdev']
rainfall

       station_id  year element  rain_total  rain_daily_avg  rain_daily_stdev
0     US1ALJF0037  2013    PRCP       40068       38.416107         91.760743
1     US1ALJF0037  2014    PRCP       22078       20.614379         71.402962
2     US1ALJF0037  2015    PRCP       22967       21.728477         55.407846
3     US1ALJF0037  2016    PRCP       35721       33.352941         88.527923
4     US1ALJF0037  2017    PRCP       71344       67.052632        160.135323
...           ...   ...     ...         ...             ...               ...
4656  USW00094960  2017    PRCP        4813       31.457516         83.698471
4657  USW00094960  2018    PRCP        4671       30.529412         94.140157
4658  USW00094960  2019    PRCP        5913       38.647059         86.130445
4659  USW00094960  2020    PRCP        3798       24.823529         63.563491
4660  USW00094960  2021    PRCP        3086       20.169935         61.299608

[4661 rows x 6 columns]

In [8]:
temp = weather[weather.element.isin(['TMIN','TMAX'])]
temp.element.value_counts()

TMAX    1226451
TMIN    1224390
Name: element, dtype: int64

In [9]:
temp_avg = temp[temp.element == "TMIN"].groupby(['station_id', 'year', 'element']).mean().reset_index()
temp_avg['TMAX_avg'] = temp[temp.element == "TMAX"].groupby(['station_id', 'year', 'element']).mean().values
temp_avg.columns = ['station_id','year','element','TMIN_AVG','TMAX_AVG']
temp_avg.drop(['element'], axis=1, inplace = True)
temp_avg

       station_id  year    TMIN_AVG    TMAX_AVG
0     USC00017157  2013  164.163265  278.917808
1     USC00017157  2014  188.732026  305.906667
2     USC00017157  2015  177.366906  291.884892
3     USC00017157  2016  187.166667  305.253333
4     USC00017157  2017  181.796748  290.354331
...           ...   ...         ...         ...
1548  USW00094960  2017  129.281046  248.692810
1549  USW00094960  2018  149.928105  263.183007
1550  USW00094960  2019  134.065359  244.228758
1551  USW00094960  2020  139.183007  255.594771
1552  USW00094960  2021  143.000000  270.516340

[1553 rows x 4 columns]

In [10]:
1984988/8801627

0.22552512166216543

In [11]:
# Export Rainfall Dataset