# Create Regression Features from Weather Data

In [6]:
import pandas as pd
import datetime as dt

In [3]:
weather = pd.read_csv("weather.csv.zip")

/Users/ericellestad/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...
8801622,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN
8801623,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
8801624,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
8801625,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN
8801626,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN

In [9]:
weather['date'] = pd.to_datetime(weather['date'])
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...
8801622,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN
8801623,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
8801624,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN
8801625,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN
8801626,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN

In [10]:
weather['year'] = weather['date'].dt.year
weather

,station_id,date,element,value,measurement_flag,quality_flag,source_flag,time_of_observation,year
0,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
1,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
2,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
3,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
4,US1ALJF0037,2013-05-01,PRCP,0,NaN,NaN,N,NaN,2013
...,...,...,...,...,...,...,...,...,...
8801622,US1WAKG0204,2021-09-28,PRCP,71,NaN,NaN,N,NaN,2021
8801623,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN,2021
8801624,US1WAKG0204,2021-09-29,PRCP,0,T,NaN,N,NaN,2021
8801625,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN,2021
8801626,US1WAKG0204,2021-09-30,PRCP,43,NaN,NaN,N,NaN,2021

In [25]:
weather.drop(['measurement_flag', 'quality_flag', 'source_flag', 'time_of_observation'], axis=1, inplace=True)
weather

          station_id       date element  value  year
0        US1ALJF0037 2013-05-01    PRCP      0  2013
1        US1ALJF0037 2013-05-01    PRCP      0  2013
2        US1ALJF0037 2013-05-01    PRCP      0  2013
3        US1ALJF0037 2013-05-01    PRCP      0  2013
4        US1ALJF0037 2013-05-01    PRCP      0  2013
...              ...        ...     ...    ...   ...
8801622  US1WAKG0204 2021-09-28    PRCP     71  2021
8801623  US1WAKG0204 2021-09-29    PRCP      0  2021
8801624  US1WAKG0204 2021-09-29    PRCP      0  2021
8801625  US1WAKG0204 2021-09-30    PRCP     43  2021
8801626  US1WAKG0204 2021-09-30    PRCP     43  2021

[8801627 rows x 5 columns]

In [29]:
rainfall = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['sum'],})
rainfall['avg'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['mean'],})
rainfall['stdev'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['std'],})
rainfall.reset_index()
rainfall

                         value        avg       stdev
                           sum
station_id  year element
US10john021 2017 PRCP     3417  24.760870   61.604526
            2018 PRCP     5849  38.480263  101.030778
            2019 PRCP     8979  58.686275  138.351881
            2020 PRCP     4654  30.418301   79.729940
            2021 PRCP     4609  31.141892   92.821532
...                        ...        ...         ...
USW00094960 2017 PRCP     4813  31.457516   83.698471
            2018 PRCP     4671  30.529412   94.140157
            2019 PRCP     5913  38.647059   86.130445
            2020 PRCP     3798  24.823529   63.563491
            2021 PRCP     3086  20.169935   61.299608

[4867 rows x 3 columns]

In [38]:
rainfall = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).sum().reset_index()
rainfall['avg'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['mean'],}).values
rainfall['stdev'] = weather[weather.element == 'PRCP'].groupby(['station_id', 'year', 'element']).agg({'value': ['std'],}).values
rainfall.columns = ['station_id','year','element','rain_total','rain_daily_avg','rain_daily_stdev']
rainfall

       station_id  year element  rain_total  rain_daily_avg  rain_daily_stdev
0     US10john021  2017    PRCP        3417       24.760870         61.604526
1     US10john021  2018    PRCP        5849       38.480263        101.030778
2     US10john021  2019    PRCP        8979       58.686275        138.351881
3     US10john021  2020    PRCP        4654       30.418301         79.729940
4     US10john021  2021    PRCP        4609       31.141892         92.821532
...           ...   ...     ...         ...             ...               ...
4862  USW00094960  2017    PRCP        4813       31.457516         83.698471
4863  USW00094960  2018    PRCP        4671       30.529412         94.140157
4864  USW00094960  2019    PRCP        5913       38.647059         86.130445
4865  USW00094960  2020    PRCP        3798       24.823529         63.563491
4866  USW00094960  2021    PRCP        3086       20.169935         61.299608

[4867 rows x 6 columns]

In [45]:
temp = weather[weather.element.isin(['TMIN','TMAX'])]
temp.element.value_counts()

TMAX    1988640
TMIN    1984988
Name: element, dtype: int64

In [50]:
temp_avg = temp[temp.element == "TMIN"].groupby(['station_id', 'year', 'element']).mean().reset_index()
temp_avg['TMAX_avg'] = temp[temp.element == "TMAX"].groupby(['station_id', 'year', 'element']).mean().values
temp_avg.columns = ['station_id','year','element','TMIN_AVG','TMAX_AVG']
temp_avg.drop(['element'], axis=1, inplace = True)
temp_avg

       station_id  year    TMIN_AVG    TMAX_AVG
0     USC00017157  2013  164.163265  278.917808
1     USC00017157  2014  188.732026  305.906667
2     USC00017157  2015  177.366906  291.884892
3     USC00017157  2016  187.166667  305.253333
4     USC00017157  2017  181.796748  290.354331
...           ...   ...         ...         ...
1568  USW00094960  2017  129.281046  248.692810
1569  USW00094960  2018  149.928105  263.183007
1570  USW00094960  2019  134.065359  244.228758
1571  USW00094960  2020  139.183007  255.594771
1572  USW00094960  2021  143.000000  270.516340

[1573 rows x 4 columns]

In [58]:
1984988/8801627

0.22552512166216543